/* Импортируем стили из пакета @vkruglikov/react-telegram-web-app */
/*import '@vkruglikov/react-telegram-web-app/lib/index.d.ts';*/
import index.d.ts from '@vkruglikov/react-telegram-web-app';

/* Определяем переменные цветов для нашего веб-приложения */
:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-button-color: #0088cc;
  --tg-theme-button-text-color: #ffffff;
}
